.container {

    text-align: center;

}

.navbar {

    border: none;
    border-radius: 0;
    margin-bottom: 0;

}

.navbar-default {

    background-color: #2C3E50;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;

}

.navbar-default .navbar-brand {

    color: #FFFFFF;
    font-size: 28px;

}

.navbar-default .navbar-nav > li > a {

    color: #FFFFFF;
    font-size: 16px;

}

.navbar-default .navbar-nav > li > a:hover {

    color: #1BBC9C;

}

.navbar-default .navbar-brand:hover {

    color: #FFFFFF;

}

.navbar-default .navbar-toggle .icon-bar {

    background-color: #FFFFFF;

}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {

    background-color: #1CBC9C;
    border-color: #1CBC9C;

}

.navbar-default .navbar-toggle:hover {

    background-color: #148f77;

}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {

    color: #FFFFFF;
    background-color: transparent;

}

.burgher {

    padding-top: 4px;
    padding-left: 2px;
    float: right;

}

.menu {

    text-transform: uppercase;
    color: white;
    padding-top: 1px;
    padding-right: 4px;
    float: left;

}

main {
    padding-top: 100px;
}

section {

    padding: 100px 0;
    background-color: #1CBC9C;

}


.start img {

    max-width: 240px;

}

.text-start {

    color: white;
    font-size: 64px;

}

.custom-line i {
    color: white;
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
}

.custom-line::before,
.custom-line::after {
    content: '';
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
}

#opposite {

    background-color: white;
    color: #2C3E50;

}

#opposite .custom-line::before, #opposite .custom-line::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: #2C3E50;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
}

.portfolio img {

    max-width: 100%;
    margin-bottom: 8%;

}

.portfolio h2 {

    font-size: 48px;

}

.wrapper {

    margin-top: 35px;

}

.wrapper::after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width:780px) {

    .navbar-default .navbar-brand {

        color: #FFFFFF;
        font-size: 18px;
        padding-top: 20px;

    }

    .text-start {

        font-size: 40px;

    }

}
