.container {

    text-align: center;

}

.navbar {

    border: none;
    border-radius: 0;
    margin-bottom: 0;

}

.navbar-default {

    background-color: #2C3E50;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;

}

.navbar-default .navbar-brand {

    color: #FFFFFF;
    font-size: 28px;

}

.navbar-default .navbar-nav > li > a {

    color: #FFFFFF;
    font-size: 16px;

}

.navbar-default .navbar-nav > li > a:hover {

    color: #1BBC9C;

}

.navbar-default .navbar-brand:hover {

    color: #FFFFFF;

}

.navbar-default .navbar-toggle .icon-bar {

    background-color: #FFFFFF;

}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {

    background-color: #1CBC9C;
    border-color: #1CBC9C;

}

.navbar-default .navbar-toggle:hover {

    background-color: #148f77;

}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {

    color: #FFFFFF;
    background-color: transparent;

}

.burgher {

    padding-top: 4px;
    padding-left: 2px;
    float: right;

}

.menu {

    text-transform: uppercase;
    color: white;
    padding-top: 1px;
    padding-right: 4px;
    float: left;

}

main {
    padding-top: 100px;
}

section {

    padding: 85px 0;
    background-color: #1CBC9C;

}


.start img {

    max-width: 240px;

}

.start p {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: white;
}

.text-start {

    color: white;
    font-size: 64px;
    font-weight: 700;

}

.custom-line i {
    color: white;
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
}

.custom-line::before,
.custom-line::after {
    content: '';
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
}

#opposite {

    background-color: white;
    color: #2C3E50;

}

#opposite .custom-line::before, #opposite .custom-line::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: #2C3E50;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
}

.portfolio img {

    max-width: 100%;
    margin-bottom: 30px;

}

.portfolio h2 {

    font-size: 48px;
    font-weight: 700;

}


.title-customline {
    margin-bottom: 30px;
}

.about h2 {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.about p {

    font-size: 20px;
    color: white;

}

.btn-default {

    margin-top: 30px;
    color: white;
    background-color: transparent;

}


.btn {

    border: 2px solid white;
    padding: 13px 24px;
    font-size: 20px;

}

.btn:hover {

    color: #212529;
    background-color: white;

}

.contact h2 {
    font-size: 48px;
    font-weight: 700;
}

.form-control {

    height: 80px;
    font-size: 23px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e9ecef;
    border-radius: 0px;
    margin-bottom: 20px;

}

.form-control:focus {

    border-color: #e9ecef;
    box-shadow: none;

}

.btn-contact {

    margin-top: 30px;
    color: white;
    background-color: #1CBC9C;
    border-radius: 8px;
    float: left;

}

.btn-contact:hover {

    background-color: #159a80;
    color: white;

}

@media screen and (max-width:780px) {

    .navbar-default .navbar-brand {

        color: #FFFFFF;
        font-size: 18px;
        padding-top: 20px;

    }

    .text-start {

        font-size: 40px;

    }


}
